* {
     margin: 0;
     background: url("../images/stardust.png") center center fixed;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
}

@font-face {
	font-family: ShockTherapy;
	src: url(Fonts/shocktherapybb_ital.ttf);
}

h1, h3 {
	font-family: ShockTherapy;
	color: #0eeb3a;
    text-shadow: 3px 3px 2px #000000;    
}

.btn-default {
	font-family: ShockTherapy;
    margin-right: 5px;
    margin-bottom: 5px;
}

input {
	font-family: 'Cabin', sans-serif;
	color: #cccccc;
}

.movies:hover {
    color: white;
    text-shadow: 1px 1px 0 #2be70e, -1px -1px 0 #2be70e, 1px -1px 0 #2be70e, -1px 1px 0 #2be70e, 0px 1px 0 #2be70e, 1px 0px 0 #2be70e, 0px -1px 0 #2be70e, -1px 0px 0 #2be70e, 3px 3px 2px #000000;    
    cursor: pointer;
}

.item {
    float: left;
    margin-left: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gif:hover {
    box-shadow: 10px 10px 5px grey;
}